body {
    margin: 0;
}

.page {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto minmax(47vw, auto) auto;
}

.header {
    background-color: black;
    padding: .8rem;
}

.header > .main {
    position: absolute;
    color: white;
    font-family: cursive;
    font-size: 1rem
}

.header > .buttons {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    color: white;
    font-family: cursive;
    font-size: .5rem;
}

#short:hover {
    cursor: pointer;
    color: rgb(165, 165, 165) 
}

#medium:hover {
    cursor: pointer;
    color: rgb(165, 165, 165) 
}

#long:hover {
    cursor: pointer;
    color: rgb(165, 165, 165) 
}

#home:hover {
    cursor: pointer;
    color: rgb(165, 165, 165) 
}

#create:hover {
    cursor: pointer;
    color: rgb(165, 165, 165) 
}

.container {
    padding-top: 30px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: auto;
}

.container > .holder {
    height: 22rem;
    width: 21rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;   
    padding: 5px;
    margin: 15px 15px;
    -webkit-box-shadow: 2px 3px 8px rgb(181, 181, 181);
    -moz-box-shadow: 2px 3px 8px rgb(181, 181, 181);
    box-shadow: 2px 3px 8px rgb(181, 181, 181);
}

.holder:hover {
    cursor: pointer;
    -webkit-box-shadow: 2px 3px 8px rgb(80, 80, 80);
    -moz-box-shadow: 2px 3px 8px rgb(80, 80, 80);
    box-shadow: 2px 3px 8px rgb(80, 80, 80);
}

.footer {
    margin-top: 10px;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    font-family: cursive;
}

.footer > .slogan {
    text-align: center;
    color: white;
    margin: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,.3);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30vw; 
    height: 40vh;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.holder {
    display:grid;
    justify-content: center
}

.card {
    opacity: 1;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    transform: translate(42%, 90%);
    -ms-transform: translate(80%, 80%);
    text-align: center;
}

.holder:hover .card {
    opacity: .3
}

.holder:hover .overlay {
    opacity: 1
}

.change {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    width: 100px;
    margin: 10px
}

input[type=text] {
    height:30px;
    margin: 20px;
    align-self: center;
}
input[type=submit] {
    padding: 5px;
    text-align: center;
}


.confirm {
    display: none;
}